<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Đặt hàng thành công!</title>
	<link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="assets/css/main.css">
	<link rel="stylesheet" href="assets/css/all.min.css">
	<link rel="stylesheet" href="assets/css/animate.css">
</head>
<body>

	<div class="breadcrumb-section breadcrumb-bg">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 offset-lg-2 text-center">
					<div class="breadcrumb-text">
						<p>Đặt hàng thành công</p>
						<h1>Đặt hàng thành công!</h1>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- success section -->
	<div class="full-height-section error-section">
		<div class="full-height-tablecell">
			<div class="container">
				<div class="row">
					<div class="col-lg-8 offset-lg-2 text-center">
						<div class="error-text">
							<i class="fas fa-check-circle text-success" style="font-size: 100px;"></i>
							<h1 class="text-success">Đặt hàng thành công!</h1>
							<p>Chúng tôi đã nhận được đơn hàng của bạn. Chúng tôi sẽ liên hệ để xác nhận và giao hàng sớm nhất.</p>
							<a href="\Home" class="boxed-btn">Quay về trang chủ</a>
							<a href="\shop" class="boxed-btn black">Tiếp tục mua sắm</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end success section -->

</body>
</html>
